.home {
  background-color: #cdd1d4; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px; 
}

.cards-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}

.card {
  background-color: white;
  color: #333;
  width: 500px;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}
